{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "plugins": [
    "prettier",
    "react",
    "jsx-a11y",
    "import",
    "standard"
  ],
  "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "trailingComma": "all",
      "bracketSpacing": true,
      "jsxBracketSameLine": true
    }]
  },
  "extends": [
    "plugin:react/recommended",
    "prettier",
    "prettier/react",
    "prettier/standard"
  ]
}
