@import "../../node_modules/antd/dist/antd.less";

@primary-color: #2779ff;
@layout-header-background: @primary-color;
@layout-sider-background: #ffffff;
@menu-dark-color: white;
@menu-dark-item-active-bg: lighten(@primary-color, 5%);